$red: 'red';
$yellow: #fff241;
$blue: #00b7ff;
$spacing: 15px;
$columns: 12;

.btn {
    display: inline-block;
    padding: 8px 15px;
}

.btn-red {
    background-color: $red;
}
.btn-blue {
    background-color: $blue;
}
.btn-yellow {
    background-color: $yellow;
}
// nested
.container{
    .row {
        display: flex;
        h1 {
            font-size: 12px;
        }
    }
    h1 {
        font-size: 24px;
    }
}
//@for 迴圈 重複執行

@for $i from 1 through 12 {
    .col-#{$i} {
        flex:0 0 calc(100% * 12 / #{$i})
    }
}

// @each 
$sizes: 480px, 720px, 960px, 1200px;
@each $size in $sizes {
    .container-#{$size} {
        width: $size;
    }
}