$red: 'red';
$yellow: #fff241;
$blue: #00b7ff;
$spacing: 5px;
$columns: 12;

.btn {
    display: inline-block;
    padding: 8px 15px;
}

.btn-red {
    background-color: $red;
}
.btn-blue {
    background-color: $blue;
}
.btn-yellow {
    background-color: $yellow;
}
// nested
.container{
    .row {
        display: flex;
        h1 {
            font-size: 12px;
        }
    }
    h1 {
        font-size: 24px;
    }
}
//@for 迴圈 重複執行

@for $i from 1 through 12 {
    .col-#{$i} {
        flex:0 0 calc(100% * 12 / #{$i})
    }
}

// @each 
// $sizes: 480px, 720px, 960px, 1200px;
// @each $size in $sizes {
//     .container-#{$size} {
//         width: $size;
//     }
// }

$sizes: (
    "sm": 480px,
    "md": 720px,
    "lg": 960px,
    "xl": 1200px
);
@each $name, $width in $sizes {
    .container-#{$name}{
        width: $width;
        margin: auto;
    }

    @for $i from 1 through 12 {
        .col-#{$name}-#{$i}{
            flex:0 0 calc(100% / #{$columns} * #{$i});
        }
    }
}
$direction:(
    "left":"l",
    "right":"r",
    "top":"t",
    "bottom":"b",
);
@each $dName,$d in $direction {
    
    @for $i from 1 through 9 {
        .m-#{$i}{
            margin: $spacing * $i;
        }
        .m#{$d}-#{$i}{
            margin-#{$dName}: $spacing * $i
        }
        .p-#{$i}{
            padding: $spacing * $i;
        }
        .p#{$d}-#{$i}{
            padding-#{$dName}: $spacing * $i
        }
    }
    .m-auto {
        margin: auto;
    }
    .ml-auto {
        margin-left: auto;
    }
    .mr-auto {
        margin-right: auto;
    }
}
@mixin box($w,$h,$c) {
    width: $w;
    height: $h;
    background-color: $c;
}
.test {
    @include box(100px,200px,#765);
    display: block;
}

