<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="t-center">
        <a href="#" class="logo">Logo</a>
        <div>
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
            <a href="#">Link 4</a>
            <a href="#">Link 5</a> 
        </div>
    </nav>
    <!-- <nav>
        <div class="row justify-content-between">
            <a href="#">Logo</a>
            <div>
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
                <a href="#">Link 4</a>
                <a href="#">Link 5</a>
            </div>
        </div>
    </nav> -->
    <header>
        <img src="https://picsum.photos/id/107/1600/1000" alt="" >
        <div class="header-content t-center">
            <h1>HELLO RWD!!!</h1>
            <p>到處管理有機會習慣微笑不可以公開光臨帶來，驅動遊戲列表，房。</p>
        </div>
    </header>
    <div id="about" class="container row">
        <div class="col-12 t-center">
            <h2 class="section-title">About 關於</h2>
        </div>
        <div class="col-4">
            <h3>title</h3>
            <p>
                決策網通五金部落格，你沒有講話暫無出租障礙前面章節保證把你日韓科技有限公司，免費聯合虛擬傷害威望，主營首次郵件以為，讀者典型允許差距愛情，可以說站內理由電視台這個問題查詢工商，證券建立溝通百度好像再次心中總體不到相應，兩個制定加拿大顯卡，問題中文版面對一。
            </p>
            <a href="#" class="btn btn-orange">繼續閱讀</a>
        </div>
        <div class="col-4">
            <h3>title</h3>
            <p>
                決策網通五金部落格，你沒有講話暫無出租障礙前面章節保證把你日韓科技有限公司，免費聯合虛擬傷害威望，主營首次郵件以為，讀者典型允許差距愛情，可以說站內理由電視台這個問題查詢工商，證券建立溝通百度好像再次心中總體不到相應，兩個制定加拿大顯卡，問題中文版面對一。
            </p>
            <a href="#" class="btn btn-orange">繼續閱讀</a>
        </div>
        <div class="col-4">
            <h3>title</h3>
            <p>
                決策網通五金部落格，你沒有講話暫無出租障礙前面章節保證把你日韓科技有限公司，免費聯合虛擬傷害威望，主營首次郵件以為，讀者典型允許差距愛情，可以說站內理由電視台這個問題查詢工商，證券建立溝通百度好像再次心中總體不到相應，兩個制定加拿大顯卡，問題中文版面對一。
            </p>
            <a href="#"  class="btn btn-orange">繼續閱讀</a>
        </div>
    </div>
    <div id="product">
        <div class="container row">
            <div class="col-12 t-center">
                <h2 class="section-title">New Product 最新商品</h2>
            </div>
            <div class="col-3">
                <div class="product-content">
                    <img src="https://picsum.photos/id/175/600" class="w-100">
                    <div class="product-info">
                        <h3 class="product-title">不會響的鬧鐘</h3>
                        <div class="product-price">NT$9999</div>
                    </div>
                    <a href="#" class="btn btn-red">加入購物車</a>
                </div>
            </div>
            <div class="col-3">
                <div class="product-content">
                    <img src="https://picsum.photos/id/175/600" class="w-100">
                    <div class="product-info">
                        <h3 class="product-title">不會響的鬧鐘</h3>
                        <div class="product-price">NT$9999</div>
                    </div>
                    <a href="#" class="btn btn-red">加入購物車</a>
                </div>
            </div>
            <div class="col-3">
                <div class="product-content">
                    <img src="https://picsum.photos/id/175/600" class="w-100">
                    <div class="product-info">
                        <h3 class="product-title">不會響的鬧鐘</h3>
                        <div class="product-price">NT$9999</div>
                    </div>
                    <a href="#" class="btn btn-red">加入購物車</a>
                </div>
            </div>
            <div class="col-3">
                <div class="product-content">
                    <img src="https://picsum.photos/id/175/600" class="w-100">
                    <div class="product-info">
                        <h3 class="product-title">不會響的鬧鐘</h3>
                        <div class="product-price">NT$9999</div>
                    </div>
                    <a href="#" class="btn btn-red">加入購物車</a>
                </div>
            </div>
        </div>
    </div>
    <div id="blog">
        <div class="container row align-items-center">
            <div class="col-12 t-center">
                <h2 class="section-title">Blog 最新日誌</h2>
            </div>
            <div class="col-6 blog-img">
                <img src="https://picsum.photos/id/175/1200/1000" class="w-100">
            </div>
            <div class="col-6 blog-content">
                <h3>title</h3>
                <p>
                    飯店看起來選擇專門體現辛苦，輸入中文版，有些而已湖口永遠什麼時候比如公路警察一系列，人員心情請問，笑道軍隊一名軟體外觀世界盃導演一句長度開放通知，相同鄉民們，聯想公斤見過照顧市場長期編輯教育，寶寶系統自主觀看頭銜利潤訊息解壓密碼加油數學授權方式，選手好像。
                </p>
                <a href="#" class="btn btn-green">繼續閱讀</a>
            </div>
            <div class="col-6 blog-content">
                <h3>title</h3>
                <p>
                    什麼傷心一張稿件人體開了，威望一對方案試驗父親硬盤網路，帝國眼睛問題太多性別意味着要求，結合獨特原創做什麼移動範圍內性能策劃回來好激動大人進去，學習中文版商機到了全身國際比如協議每次發達，可以用開關影片攻擊二十收集當天淡淡按鈕確保數學嚴重一陣，在我同事這。
                </p>
                <a href="#" class="btn btn-green">繼續閱讀</a>
            </div>
            <div class="col-6 blog-img">
                <img src="https://picsum.photos/id/17/1200/1000" class="w-100">
            </div>
        </div>
    </div>
    <div id="contact">
        <div class="container row justify-content-center">
            <div class="col-12 t-center">
                <h2 class="section-title">Contact us 聯絡我們</h2>
            </div>
            <div class="col-6">
                <form action="">
                    <div>
                        <label for="" class="form-label">姓名</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label for="" class="form-label">電話</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label for="" class="form-label">電子信箱</label>
                        <input type="text" class="form-control">
                    </div>
                    <div>
                        <label for="" class="form-label">內容</label>
                        <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>