<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>

</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>
        <div>
            {{price}}
        </div>
        <div v-if="qty > 0">尚有庫存</div>
        <div v-else>補貨中</div>
        <div v-for="(prod,idx) of products">
            <h2>{{prod.title}}</h2>
            <div>作者:{{prod.author}}</div>
            <div>售價:{{prod.price}}</div>
            <div>{{idx}}</div>
        </div>
    </div>
    <script>
        Vue.createApp({
            data(){
                return {
                    title:'hello vue!!',
                    price: 999,
                    qty: 0,
                    products:[
                        {
                            "id":1,
                            "title":"精通 Python｜運用簡單的套件進行現代運算",
                            "public":"歐萊禮",
                            "author":"Bill Lubanovic 著 賴屹民 譯",
                            "price":"880"
                        },
                        {
                            "id":2,
                            "title":"30天與 Docker 做好朋友：跟鯨魚先生一同探索開發者的大平台（iT邦幫忙鐵人賽系列書）",
                            "public":"博碩文化",
                            "author":"周建毅 (Miles) ",
                            "price":"600"
                        },
                        {
                            "id":3,
                            "title":"前端三十：從 HTML 到瀏覽器渲染的前端開發者必備心法（iT邦幫忙鐵人賽系列書）",
                            "public":"博碩文化",
                            "author":"朱信穎",
                            "price":"550"
                        },
                        {
                            "id":4,
                            "title":"用 Node.js 一統 JavaScript 前後端：強勢 Web 開發親手作",
                            "public":"深智數位",
                            "author":"趙榮嬌",
                            "price":"780"
                        },{
                            "id":4,
                            "title":"超簡單 AIoT 物聯網與網站架設必學神器：Node-RED 視覺化開發工具",
                            "public":"博碩文化",
                            "author":"陳會安",
                            "price":"650"
                        }
                    ]
                }
            }
        }).mount('#app');

        
    </script>
</body>
</html>