<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>
        <a v-bind:href="url">Yahoo</a>
        <a :href="url">Yahoo</a>

        <form action="">
            <input type="text" v-model="name">
            <div>{{name}}</div>
            <input type="radio" name="gender" value="男" v-model="gender">
            <label for="">男</label>
            <input type="radio" name="gender" value="女" v-model="gender">
            <label for="">女</label>
            <div>{{gender}}</div>
        </form>
    </div>
    <script>
        Vue.createApp({
            data(){
                return {
                    title:'資料綁定',
                    url:'https://tw.yahoo.com',
                    name:'John',
                    gender:''

                }
            }
        }).mount('#app');
    </script>
</body>
</html>